.UenDigital-warpper {
  width: 100vw;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  header,.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header {
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: opacity(0.5) grayscale(1) blur(2px);
    }
    &::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #8F8681;
    }
  }
  .container {
    height: 100%;
    position: absolute;
    align-items: flex-end;
    bottom: 100px;
    > h1 {
      background-color: #32435f;
      color: #e1dcd9;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      padding: 20px;
      box-shadow: 0 2px 2px 0 rgba(#8F8681,0.7);
    }
    > p {
      background-color: #a67f78;
      color: #e1dcd9;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 20px;
      box-shadow: 0 2px 2px 0 rgba(#8F8681,0.7);
    }
  }
  .footer {
    height: 10%;
    color: #32435f;
  }
}
