.container-warpper {
  padding: 50px;
  .Vuex-test{
    h1{
      font-size: 24px;
      color: #32435f;
      padding-bottom: 25px;
    }
    button{
      padding: 20px;
      background-color: #32435f;
      color: #e1dcd9;
      border-radius: 4px;
      font-size: 14px;
      &:hover{
        background-color: mix(#000000,#32435f,20%)
      }
    }
	}
	.text-box{
		padding-top: 20px;
		color: #32435f;
		h2{
			// color: #32435f;
			font-size: 18px;
		}
		p{
			font-size: 14px;
		}
	}
}
