.btn{
	padding: 20px;
	background-color: #32435f;
	color: #e1dcd9;
	border-radius: 4px;
	font-size: 14px;
	margin-right: 10px;
	&:hover{
		background-color: mix(#000000,#32435f,20%)
	}
}
input{
	border: 1px solid #32435f;
	color: #32435f;
	font-size: 14px;
	height: 45px;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 0 5px;
	&::placeholder{
		color: #8F8681;
	}
}
.container-warpper {
  padding: 50px;
  .Vuex-test{
    h1{
      font-size: 24px;
      color: #32435f;
      padding-bottom: 25px;
		}
		> .row span{
			font-size: 12px;
		}
	}
	.subtitle{
		> h2{
			color: #32435f;
			font-size: 18px;
			margin-top: 20px;
		}
	}
	.text-box{
		margin-top: 5px;
		padding: 10px;
		color: #32435f;
		background-color: #d1d1d1;
		border-radius: 2px;
		h2{
			font-size: 18px;
			line-height: 30px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}
}
